@tailwind base;
@tailwind components;
@tailwind utilities;

.big {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 8px;
}

.small {
    display: block;
    min-width: 128px;
    height: 16px;
    text-align: left;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}