<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <style>@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");</style>
    <title>palculator</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="./static/js/main.js"></script>
</head>

<body class="w-[100vw] h-[100vh] font-Pret text-white">
    <div class="size-full bg-gray-900" />
    <div class="size-full p-32 flex flex-col items-center">
        <h2 class="p-8 font-bold">팰 교배 조합 검색기</h2>
        <div class="flex flex-row">
            <label for="combo-box" class="px-8">목표 팰</label>
            <select id="combo-box" class="text-black">
                {% for item in combo_list %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="big">
            <div class="small text-blue-500">부</div>
            <div class="small text-rose-500">모</div>
        </div>
        <ul id="dynamic-list" class="w-full h-[60vh] overflow-y-scroll"></ul>
    </div>
</body>
</html>
